<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="organMapper">

	<resultMap id="organResult" type="Organ">		
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="call" property="call" />
		<result column="dept_code" property="deptCode" />
		<result column="job_code" property="jobCode" />
		<result column="job_name" property="jobName" />
		<result column="dept_name" property="deptName" />
		<result column="image" property="image" />
		<result column="adminyn" property="adminYn" />
		<result column="status" property="status" />
		
		<result column="user_id" property="userId" />
		<result column="user_pwd" property="userPwd" />
		<result column="birth" property="birth" />
		<result column="post" property="post" />
		<result column="address" property="address" />
		<result column="address_detail" property="adrDetail" />
		<result column="hire_date" property="hire" />
		<result column="end_date" property="end" />
	</resultMap>
	
	<select id="selectDept" resultMap="organResult">

		select
			    dept_code
			  , dept_name
		  from department
	
	</select>

	<select id="selectOrgan" resultMap="organResult">

		select
			    user_no
			  , user_name
			  , user_id
			  , user_pwd
			  , birth
			  , post
			  , address
			  , address_detail
			  , hire_date
			  , end_date
			  , email
			  , phone
			  , call
			  , status
			  , dept_code
			  , dept_name
			  , decode
			    (job_code, 1, '사원' 
			             , 2, '주임'
			             , 3, '대리'
			             , 4, '과장'
			             , 9, '대표이사') job_name
			  , image
			  , admin_yn
			  , nvl(job_code, 0) job_code
		  from employee
		  join department using (dept_code)
		 where (status = 'Y' or status = 'R')
		 order by job_code desc
		 		, user_name asc
		 		
	</select>
	
	<select id="deptOrgan" resultMap="organResult">

		select
			    user_no
			  , user_name
			  , email
			  , phone
			  , call
			  , status
			  , dept_code
			  , dept_name
			  , decode
			    (job_code, 1, '사원' 
			             , 2, '주임'
			             , 3, '대리'
			             , 4, '과장'
			             , 9, '대표이사') job_name
			  , image
			  , admin_yn
			  , nvl(job_code, 0) job_code
		  from employee
		  join department using (dept_code)
		 where (status = 'Y' or status = 'R')
		   and dept_code = #{ dno }
		 order by job_code desc
		 		, user_name asc
	
	</select>
	
	<select id="selectDeptName" resultMap="organResult">

		select
			    dept_code
			  , dept_name
		  from department
		 where dept_code = #{ dno }
	
	</select>
	
	<select id="selectEmployee" resultMap="organResult">

		select
			    user_no
			  , user_name
			  , email
			  , phone
			  , call
			  , status
			  , dept_code
			  , dept_name
			  , decode
			    (job_code, 1, '사원' 
			             , 2, '주임'
			             , 3, '대리'
			             , 4, '과장'
			             , 9, '대표이사') job_name
			  , image
			  , admin_yn
			  , nvl(job_code, 0) job_code
		  from employee
		  join department using (dept_code)
		 where (status = 'Y' or status = 'R')
		   and user_name = #{ userName }
	     order by job_code desc
		 		, user_name asc
	
	</select>
	
	<select id="messageSerchEmployee" resultMap="organResult">

		select
			    user_no
			  , user_name
			  , email
			  , phone
			  , call
			  , status
			  , dept_code
			  , dept_name
			  , decode
			    (job_code, 1, '사원' 
			             , 2, '주임'
			             , 3, '대리'
			             , 4, '과장'
			             , 9, '대표이사') job_name
			  , image
			  , admin_yn
			  , nvl(job_code, 0) job_code
		  from employee
		  join department using (dept_code)
		 where (status = 'Y' or status = 'R')
		   and user_name like '%'||#{ userName }||'%'
	     order by job_code desc
		 		, user_name asc
	
	</select>
	
	<select id="detailEmployee" resultMap="organResult">

		select
			    user_no
			  , user_name
			  , user_id
			  , user_pwd
			  , birth
			  , post
			  , address
			  , address_detail
			  , hire_date
			  , end_date
			  , email
			  , phone
			  , call
			  , status
			  , dept_code
			  , dept_name
			  , decode
			    (job_code, 1, '사원' 
			             , 2, '주임'
			             , 3, '대리'
			             , 4, '과장'
			             , 9, '대표이사') job_name
			  , image
			  , admin_yn
			  , nvl(job_code, 0) job_code
		  from employee
		  join department using (dept_code)
		 where user_no = #{ userNo }
	
	</select>
	
	<select id="adCountList" resultType="_int">

		select         
			   count(*)
		  from employee
		  join department using (dept_code)
		 where (status = 'Y' or status = 'R')
		 <if test="dno > 0 ">
           and dept_code = #{ dno }
		 </if>
	</select>
	
	<select id="adminDeptOrgan" resultMap="organResult">

		select
			    user_no
			  , user_name
			  , user_id
			  , user_pwd
			  , birth
			  , post
			  , address
			  , address_detail
			  , hire_date
			  , end_date
			  , email
			  , phone
			  , call
			  , decode
			    (status, 'Y ', '재직'
			           , 'R ', '휴직') status
			  , dept_code
			  , dept_name
			  , decode
			    (job_code, 1, '사원' 
			             , 2, '주임'
			             , 3, '대리'
			             , 4, '과장'
			             , 9, '대표이사') job_name
			  , image
			  , admin_yn
			  , nvl(job_code, 0) job_code
		  from employee
		  join department using (dept_code)
		 where (status = 'Y' or status = 'R')
		 <if test="dno > 0 ">
		   and dept_code = #{ dno }
		 </if>
		 order by job_code desc
		 		, user_name asc
	
	</select>
	
	<select id="adSearchCountList" resultType="_int">

		select         
			   count(*)
		  from employee
		 where (status = 'Y' or status = 'R')
           and user_name = #{ userName }
	
	</select>
	
	<select id="adSearchOrgan" resultMap="organResult">

		select
			    user_no
			  , user_name
			  , user_id
			  , user_pwd
			  , birth
			  , post
			  , address
			  , address_detail
			  , hire_date
			  , end_date
			  , email
			  , phone
			  , call
			  , decode
			    (status, 'Y ', '재직'
			           , 'R ', '휴직') status
			  , dept_code
			  , dept_name
			  , decode
			    (job_code, 1, '사원' 
			             , 2, '주임'
			             , 3, '대리'
			             , 4, '과장'
			             , 9, '대표이사') job_name
			  , image
			  , admin_yn
			  , nvl(job_code, 0) job_code
		  from employee
		  join department using (dept_code)
		 where (status = 'Y' or status = 'R')
		   and user_name like '%'||#{ userName }||'%'
		 order by job_code desc
		 		, user_name asc
	
	</select>
	
	<insert id="insertOrgan">
		
		insert
		  into employee
		  (  user_no 
		  ,  user_name 
		  ,  user_id 
		  ,  user_pwd 
		  ,  email 
		  ,  phone 
		  ,  call 
		  ,  hire_date 
		  ,  status 
		  ,  dept_code 
		  ,  job_code 
		  ,  image
		  )
		  values
		  ( #{ userNo }
		  , #{ userName }
		  , #{ userId }
		  , #{ userPwd }
		  , #{ email }
		  , #{ phone }
		  , #{ call }
		  , #{ hire }
		  , #{ status }
		  , #{ deptCode }
		  , #{ jobCode }
		  , #{ image }
		  )
		
	</insert>

	<select id="checkId" resultType="_int">
		
		select
				count(*)
		  from employee
		 where user_id = #{ id } 
		
	</select>

	<select id="checkNo" resultType="_int">
		
		select
				count(*)
		  from employee
		 where user_no = #{ no } 
		
	</select>
	
	<update id="updateOrgan">
	
		update employee
		   set 
		     user_name = #{ userName }
		   , user_pwd = #{ userPwd }
		   , hire_date = #{ hire }
		   , dept_code = #{ deptCode }
		   , job_code = #{ jobCode }
		   , email = #{ email }
		   , call = #{ call }
		   , phone = #{ phone }
		   , status = #{ status }
		 where user_no = #{ userNo }    
		
	</update>


</mapper>