<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="addressMapper">

	<resultMap id="addressGroupResult" type="AddressGroup">
		<result column="group_no" property="groupNo"/>
		<result column="user_no" property="userNo"/>
		<result column="group_name" property="groupName"/>
		<result column="group_status" property="groupStatus"/>
	</resultMap>
	
	<resultMap id="addressResult" type="Address">
		<result column="address_no" property="addressNo"/>
		<result column="group_no" property="groupNo"/>
		<result column="user_no" property="userNo"/>
		<result column="address_name" property="addressName"/>
		<result column="phone_group" property="phoneGroup"/>
		<result column="address_phone" property="addressPhone"/>
		<result column="fax" property="fax"/>
		<result column="address_email" property="addressEmail"/>
		<result column="company_name" property="companyName"/>
		<result column="dept_title" property="deptTitle"/>
		<result column="job_title" property="jobTitle"/>
		<result column="address_Group" property="addressGroup"/>
		<result column="address" property="address"/>
		<result column="company_url" property="companyUrl"/>
		<result column="company_phone" property="companyPhone"/>
		<result column="birthday" property="birthday"/>
		<result column="memo" property="memo"/>
		<result column="group_name" property="groupName"/>
	
	</resultMap>


	<select id="adGroupList" resultMap="addressGroupResult">
		select
		       group_no
		     , user_no
		     , group_name
		 from address_group
		  where user_no = #{userNo}
		    and group_status = 'Y'
	</select>
	
	<select id="selectListCount" resultType="_int">
		
          	select
					count(*)
			  from address
			where user_no = #{userNo}
			  and address_status = 'Y'
		<if test='contactInput != ""'>
          	and
	            (upper(address_name) like '%'||upper(#{contactInput})||'%'
	            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
	            or upper(job_title) like '%'||upper(#{contactInput})||'%'
	            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
	            or upper(address_email) like '%'||upper(#{contactInput})||'%'
	            or upper(company_name) like '%'||upper(#{contactInput})||'%'
	            )
         </if>
	
	</select>

	<select id="allAddressList" resultMap="addressResult">
		select
		        address_no
		      , group_no
		      , a.user_no
		      , address_name
		      , phone_group
		      , address_phone
		      , fax
		      , address_email
		      , company_name
		      , dept_title
		      , job_title
		      , address_Group
		      , address
		      , company_url
		      , company_phone
		      , birthday
		      , memo
		      ,group_name
		      ,(SELECT COUNT(*) FROM liked_address W WHERE user_no= 21020101 AND address_no = message_no ) AS likeCount
		 from address a
		 join address_group ag using(group_no)
		 where a.user_no = #{userNo}
		   and address_status = 'Y'
		 <if test='contactInput != ""'>
          	and
	            (upper(address_name) like '%'||upper(#{contactInput})||'%'
	            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
	            or upper(job_title) like '%'||upper(#{contactInput})||'%'
	            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
	            or upper(address_email) like '%'||upper(#{contactInput})||'%'
	            or upper(company_name) like '%'||upper(#{contactInput})||'%'
	            )
         </if>
	 	<if test="data != null and data !=''">ORDER BY
               <choose>
                  <when test="data eq 'name'">address_name</when>
                  <when test="data eq 'job_title'">job_title</when>
                  <otherwise>dept_title</otherwise>
               </choose>
               <choose>
                  <when test="sort eq 'desc'">DESC</when>
                  <otherwise>ASC</otherwise>
               </choose>
          </if>
	
	</select>
	
	
	<select id="groupListCount" resultType="_int">
	
		 	select
					count(*)
			  from address
			 where user_no = #{userNo}
	           and group_no = #{groupNo}
	           and address_status = 'Y'
           <if test='contactInput != ""'>
	         	and
		            (upper(address_name) like '%'||upper(#{contactInput})||'%'
		            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
		            or upper(job_title) like '%'||upper(#{contactInput})||'%'
		            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
		            or upper(address_email) like '%'||upper(#{contactInput})||'%'
		            or upper(company_name) like '%'||upper(#{contactInput})||'%'
		            )
	         </if>
	
	           
	
	</select>
	
	
	<select id="groupAdList" resultMap="addressResult">
     		select
			        address_no
			      , group_no
			      , a.user_no
			      , address_name
			      , phone_group
			      , address_phone
			      , fax
			      , address_email
			      , company_name
			      , dept_title
			      , job_title
			      , address_Group
			      , address
			      , company_url
			      , company_phone
			      , birthday
			      , memo
			      , group_name
			      ,(SELECT COUNT(*) FROM liked_address W WHERE user_no= 21020101 AND address_no = message_no ) AS likeCount
			 from address a
			 join address_group ag using(group_no)
			 where a.user_no = #{userNo}
			   and group_no = #{groupNo}
			   and address_status = 'Y'
			    <if test='contactInput != ""'>
		            and
		            (upper(address_name) like '%'||upper(#{contactInput})||'%'
		            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
		            or upper(job_title) like '%'||upper(#{contactInput})||'%'
		            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
		            or upper(address_email) like '%'||upper(#{contactInput})||'%'
		            or upper(company_name) like '%'||upper(#{contactInput})||'%'
		            )
		         </if>
		 	<if test="data != null and data !=''">ORDER BY
	               <choose>
	                  <when test="data eq 'name'">address_name</when>
	                  <when test="data eq 'job_title'">job_title</when>
	                  <otherwise>dept_title</otherwise>
	               </choose>
	               <choose>
	                  <when test="sort eq 'desc'">DESC</when>
	                  <otherwise>ASC</otherwise>
	               </choose>
	          </if>
	
			
	</select>
	
	
	<select id="likeListCount" resultType="_int">
	
		 	 select
            count(*)
		 from address la
         join liked_address a on (message_no = address_no)
		 join address_group ag using(group_no)
		 where a.user_no = #{userNo}
		   and address_status = 'Y'
           <if test='contactInput != ""'>
	         	and
		            (upper(address_name) like '%'||upper(#{contactInput})||'%'
		            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
		            or upper(job_title) like '%'||upper(#{contactInput})||'%'
		            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
		            or upper(address_email) like '%'||upper(#{contactInput})||'%'
		            or upper(company_name) like '%'||upper(#{contactInput})||'%'
		            )
	         </if>
	
	           
	
	</select>
	
	
	<select id="likeAddressList" resultMap="addressResult">
	select
		        address_no
		      , group_no
		      , a.user_no
		      , address_name
		      , phone_group
		      , address_phone
		      , fax
		      , address_email
		      , company_name
		      , dept_title
		      , job_title
		      , address_Group
		      , address
		      , company_url
		      , company_phone
		      , birthday
		      , memo
		      ,group_name
		      ,(SELECT COUNT(*) FROM liked_address W WHERE user_no= 21020101 AND address_no = message_no ) AS likeCount
		 from address la
         join liked_address a on (message_no = address_no)
		 join address_group ag using(group_no)
		 where a.user_no = #{userNo}
		   and address_status = 'Y'
		 <if test='contactInput != ""'>
          	and
	            (upper(address_name) like '%'||upper(#{contactInput})||'%'
	            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
	            or upper(job_title) like '%'||upper(#{contactInput})||'%'
	            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
	            or upper(address_email) like '%'||upper(#{contactInput})||'%'
	            or upper(company_name) like '%'||upper(#{contactInput})||'%'
	            )
         </if>
	 	<if test="data != null and data !=''">ORDER BY
               <choose>
                  <when test="data eq 'name'">address_name</when>
                  <when test="data eq 'job_title'">job_title</when>
                  <otherwise>dept_title</otherwise>
               </choose>
               <choose>
                  <when test="sort eq 'desc'">DESC</when>
                  <otherwise>ASC</otherwise>
               </choose>
          </if>
	
	</select>
	
	
	<insert id="insertLikeAddress">
		
			insert 
			  into liked_address
			   	 ( 
			   	    user_no
			      , category 
			      , message_no 
			      )
			values 
				(  
				  #{userNo}
				 , '개인' 
				 , #{addressNo} 
				 )

	</insert>
	
	<delete id="deleteLikeAddress">
			  delete
	            from liked_address
	           where user_no = #{userNo}
			     and message_no = #{addressNo}
		
	
	</delete>
	
	
	
	
	<insert id="insertAddress">
		insert 
			into address
			(
		        address_no
		      , group_no
		      , user_no
		      , address_name
		      , phone_group
		      , address_phone
		      , fax
		      , address_email
		      , company_name
		      , dept_title
		      , job_title
		      , address_Group
		      , address
		      , company_url
		      , company_phone
		      , birthday
		      , memo
			)
			values
		    (
    		  seq_adno.nextval
    		, #{groupNo}
    		, #{userNo}
    		, #{addressName}
    		, #{phoneGroup}
    		, #{addressPhone}
    		, #{fax}
    		, #{addressEmail}
    		, #{companyName}
    		, #{deptTitle}
    		, #{jobTitle}
    		, #{addressGroup}
    		, #{address}
    		, #{companyUrl}
    		, #{companyPhone}
    		, #{birthday}
    		, #{memo}
    		)
		
		
	</insert>
	
	
	<insert id="insertAdGroup">
		insert 
		  into address_group
		      (
		        group_no
		      , user_no
		      , group_name
		      , group_status
		      )
		      values
		     (
		       seq_adgroupno.nextval
		     , #{userNo}
		     , #{groupName}
		     , 'Y'
		     )
		    
	</insert>
	
	<select id="selectAddress" resultMap="addressResult">
		select
			        address_no
			      , group_no
			      , a.user_no
			      , address_name
			      , phone_group
			      , address_phone
			      , fax
			      , address_email
			      , company_name
			      , dept_title
			      , job_title
			      , address_Group
			      , address
			      , company_url
			      , company_phone
			      , birthday
			      , memo
			      , group_name
			 from address a
			 join address_group ag using(group_no)
			 where a.user_no = #{userNo}
			   and address_no = #{addressNo}
			 
	
	</select>
	
	
	<update id="updateAddress">
		update
			  address
		  set 
		        group_no = #{groupNo}  
			  , address_name = #{addressName}
		      , phone_group = #{phoneGroup}
		      , address_phone = #{addressPhone}
		      , fax = #{fax}
		      , address_email = #{addressEmail}
		      , company_name = #{companyName}
		      , dept_title = #{deptTitle}
		      , job_title = #{jobTitle}
		      , address_Group = #{addressGroup}
		      , address = #{address}
		      , company_url = #{companyUrl}
		      , company_phone = #{companyPhone}
		      , birthday = #{birthday}
		      , memo = #{memo}
		where user_no = #{userNo}
		  and address_no = #{addressNo}
	
	</update>
	
	
		<update id="deleteAddress">
	
		update
		       address
		   set ADDRESS_STATUS = 'N'
		 where user_no = #{userNo}
		   and address_no = #{addressNo}
	
		</update>
		
		
		<update id="chkDelete">
	
			update
			       address
			   set ADDRESS_STATUS = 'N'
			 where user_no = #{userNo}
			   and <foreach item="no" index="index" collection="valueArr" open="address_no in ("  separator="," close=")"> 

					#{no}
					
					</foreach>
		
		</update>
		
		<select id="deleteListCount" resultType="_int">
			select
					count(*)
			  from address
			 where user_no = #{userNo}
	           and address_status = 'N'
             <if test='contactInput != ""'>
        		and
	            (upper(address_name) like '%'||upper(#{contactInput})||'%'
	            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
	            or upper(job_title) like '%'||upper(#{contactInput})||'%'
	            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
	            or upper(address_email) like '%'||upper(#{contactInput})||'%'
	            or upper(company_name) like '%'||upper(#{contactInput})||'%'
	            )
        	 </if>
		
		</select>
	
		<select id="deleteAddressList" resultMap="addressResult">
			select
			        address_no
			      , group_no
			      , a.user_no
			      , address_name
			      , phone_group
			      , address_phone
			      , fax
			      , address_email
			      , company_name
			      , dept_title
			      , job_title
			      , address_Group
			      , address
			      , company_url
			      , company_phone
			      , birthday
			      , memo
			      , group_name
			 from address a
              join address_group ag using(group_no)
			 where a.user_no = #{userNo}
			   and address_status = 'N'
			  <if test='contactInput != ""'>
		          	and
		            (upper(address_name) like '%'||upper(#{contactInput})||'%'
		            or upper(dept_title) like '%'||upper(#{contactInput})||'%'
		            or upper(job_title) like '%'||upper(#{contactInput})||'%'
		            or upper(address_phone) like '%'||upper(#{contactInput})||'%'
		            or upper(address_email) like '%'||upper(#{contactInput})||'%'
		            or upper(company_name) like '%'||upper(#{contactInput})||'%'
		            )
       		  </if>
	 	<if test="data != null and data !=''">ORDER BY
               <choose>
                  <when test="data eq 'name'">address_name</when>
                  <when test="data eq 'job_title'">job_title</when>
                  <otherwise>dept_title</otherwise>
               </choose>
               <choose>
                  <when test="sort eq 'desc'">DESC</when>
                  <otherwise>ASC</otherwise>
               </choose>
          </if>
		</select>
		
		
		
		
		<update id="restoreAddress">
	
			update
			       address
			   set ADDRESS_STATUS = 'Y'
			 where user_no = #{userNo}
			   and <foreach item="no" index="index" collection="valueArr" open="address_no in ("  separator="," close=")"> 

					#{no}
					
					</foreach>
		
		</update>
		
		
		<delete id="foreverdelete">
		
			delete
	           from address 
	           where user_no = #{userNo}
			   and <foreach item="no" index="index" collection="valueArr" open="address_no in ("  separator="," close=")"> 

					#{no}
					
					</foreach>
		
		
		</delete>
</mapper>