<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reservationMapper">

	<resultMap id="reservationResult" type="Reservation">
		<result column="reserve_no" property="reserveNo"/>
		<result column="user_no" property="userNo"/>
		<result column="resources_no" property="resourcesNo"/>
		<result column="category_name" property="categoryName"/>
		<result column="resource_name" property="resourceName"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="reserve_Date" property="reserveDate"/>
		<result column="reserve_content" property="reserveContent"/>
		<result column="user_name" property="userName"/>
		<result column ="category_no" property="categoryNo"/>
	</resultMap>
	
	<resultMap id="resourcesResult" type="Resources">
		<result column="resources_no" property="resourcesNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="resource_name" property="resourceName"/>
		<result column="resource_content" property="resourceContent"/>
		<result column="category_name" property="categoryName"/>
	
	</resultMap>



	<resultMap id="categoryResult" type="ResourcesCategory">
	
		<result column="category_no" property="categoryNo"></result>
		<result column="category_name" property="categoryName"></result>
		<result column="category_content" property="categoryContent"></result>
		<result column="category_img" property="categoryImg"></result>
	</resultMap>

	<select id="MenuCategoryList" resultMap="categoryResult">
		select 
		       category_no
		     , category_name
		     , category_content
		     , category_img
		  from resource_category
		 where status = 'Y'
		  order
		     by category_no
	
	</select>
	
	<select id="menuResourceList" resultMap="resourcesResult">
		  select
		        resources_no
		       , category_no
		       , resource_name
		       , resource_content
		  from resources 
	
	
	
	</select>
	

	<select id="selectListCount" resultType="_int">
		select
				count(*)
		  from resources_reserve
		where user_no = #{ userNo }
	</select>


	<select id="myReserveList" resultMap="reservationResult">
		select
				  reserve_no
			    , user_no
			    , resources_no
			    , category_name
			    , r.resource_name
			    , start_date
			    , end_date
			    , reserve_Date
			    , reserve_content
			from resources_reserve rr
            join resources r using(resources_no)
			where user_no = #{userNo}
			order 
			   by reserve_date desc
	
	</select>
	
	
	<select id="categoryInfo" resultMap="categoryResult">
	
		select 
		       category_no
		     , category_name
		     , category_content
		  from resource_category
		  where status = 'Y'
		   and category_no = #{categoryNo}
		  order
		     by category_no
	
	
	</select>
	
	<select id="resourceList" resultMap="resourcesResult">
 select
		        resources_no
		       , category_no
		       , resource_name
		       , resource_content
               , category_name
		  from resources 
          join resource_category using(category_no)
		  where category_no = #{categoryNo}
	
	
	
	</select>
	
	<select id="selectRsvList" resultMap="reservationResult">
			select 
			        reserve_no
			      , user_no
			      , resources_no
			      , category_name
			      , re.resource_name
			      , start_date
			      , rr.end_date
			      , reserve_date
			      , reserve_content
			      , user_name
			      , rr.category_no
			 from resources_reserve rr
			 join employee e using(user_no)
			 join resources re using(resources_no)
			where rr.category_no = #{categoryNo}
			  and resources_no = #{resourceNo}
			 
	
	</select>
	
	<select id="checkOverlapRsv" resultType="_int">
		select count(*)
		  from
		     ( select reserve_no
		         from resources_reserve
		       WHERE end_date &gt; #{startday}
			     and start_date &lt; #{endday}
			     and resources_no = #{resourcesNo}
		    )
	</select>
	
	<insert id="insertReservation">
		INSERT INTO RESOURCES_RESERVE
        ( RESERVE_NO, USER_NO, RESOURCES_NO, CATEGORY_NO, CATEGORY_NAME, START_DATE, END_DATE, RESERVE_DATE, RESERVE_CONTENT)
		VALUES 
	     (
	       SEQ_RESERVENO.NEXTVAL
	     , #{userNo}
	     , #{resourcesNo}
	     , #{categoryNo}
	     , #{categoryName}
	     , #{startday}
	     , #{endday}
	     , SYSDATE
	     , #{reason}
	     )
		
	</insert>
	
	<select id="readDetailRsvList" resultMap="reservationResult">
		
		select 
			        reserve_no
			      , user_no
			      , resources_no
			      , category_name
			      , re.resource_name
			      , start_date
			      , rr.end_date
			      , reserve_date
			      , reserve_content
			      , user_name
			      , rr.category_no
			 from resources_reserve rr
			 join employee e using(user_no)
			 join resources re using(resources_no)
			where reserve_no = #{reserveNo}
	
	</select>
	
	<delete id="rsvCancel">
		delete from resources_reserve
		 where reserve_no = #{reserveNo}
		   and user_no = #{userNo}
	
	</delete>
	
	
</mapper>