<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >


<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.hey.approval.model.vo.Approval" alias="Approval" />
		<typeAlias type="com.kh.hey.employee.model.vo.Employee" alias="Employee" />
		<typeAlias type="com.kh.hey.reserve.model.vo.Resources" alias="Resources" />
		<typeAlias type="com.kh.hey.reserve.model.vo.ResourcesCategory" alias="ResourcesCategory" />
		<typeAlias type="com.kh.hey.reserve.model.vo.Reservation" alias="Reservation" />
		<typeAlias type="com.kh.hey.address.model.vo.Address" alias="Address" />
		<typeAlias type="com.kh.hey.address.model.vo.AddressGroup" alias="AddressGroup" />
		<typeAlias type="com.kh.hey.working.model.vo.Working" alias="Working" />
		<typeAlias type="com.kh.hey.organization.model.vo.Organ" alias="Organ" />
		<typeAlias type="com.kh.hey.message.model.vo.Message" alias="Message" />
		<typeAlias type="com.kh.hey.common.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.kh.hey.working.model.vo.Leave" alias="Leave" />
		<typeAlias type="com.kh.hey.working.model.vo.AllLeave" alias="AllLeave" />
		<typeAlias type="com.kh.hey.todo.model.vo.Todolist" alias="Todolist" />
		<typeAlias type="com.kh.hey.todo.model.vo.Memo" alias="Memo" />
		<typeAlias type="com.kh.hey.inContact.model.vo.InContact" alias="inContact" />
		<typeAlias type="com.kh.hey.inContact.model.vo.InContactGroup" alias="inConGroup" />

	</typeAliases>
	
	<mappers>
	 	<mapper resource="/mappers/approval-mapper.xml" />
	 	<mapper resource="/mappers/employee-mapper.xml" />
		<mapper resource="/mappers/reservation-mapper.xml"/>
		<mapper resource="/mappers/personalAddress-mapper.xml"/>
		<mapper resource="/mappers/working-mapper.xml"/>
		<mapper resource="/mappers/organization-mapper.xml"/>
		<mapper resource="/mappers/reply-mapper.xml"/>
		<mapper resource="/mappers/message-mapper.xml"/>
		<mapper resource="/mappers/todolist-mapper.xml"/>
		<mapper resource="/mappers/inContact-mapper.xml"/>
	 </mappers>
	 
	 
	
</configuration>
